body {
    font-family: 'happy_timehappy_time';
    src: url('happytime-webfont.woff') format('woff');
}

body, .super-hacky-page {
    background-image: url("landing.png");
    background-size: 100vw;
}

* {
    margin: 0;
    padding: 0;
}